<a href="https://colab.research.google.com/github/Vbhargav370/mini_login_form_html_project/blob/main/Python_List_Practice_Projects_(ID_P4632).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Q. Create an empty list named empty_list.**

In [7]:
empty_list = []
print(empty_list)

[]

# **Q. Create a list of integers from 1 to 5 and name it int_list.**

In [2]:
int_list = [1, 2, 3, 4, 5]
print(int_list)

[1, 2, 3, 4, 5]

# **Q. Create a list of strings with the names of three different fruits and name it fruit_list.**

In [3]:
fruit_list = ['apple', 'mango', 'banana']
print(fruit_list)

['apple', 'mango', 'banana']

# **Q. Create a list that contains an integer, a string, a float, and a boolean. Name it mixed_list.**

In [4]:
mix_list = [1, 'ybi foundation', 2.2, True]
print(mix_list)

[1, 'ybi foundation', 2.2, True]

# **Q. Create a list that contains three sub-lists. Each sub-list should contain three integers. Name the outer list nested_list.**

In [5]:
nested_list = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
print(nested_list)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

# **Q. Convert the string "hello" into a list of characters and name it char_list.**

In [6]:
char_list = list("hello")
print(char_list)  # Output: ['h', 'e', 'l', 'l', 'o']

['h', 'e', 'l', 'l', 'o']

# **Q. Convert the tuple (1, 2, 3, 4, 5) into a list and name it num_list.**

---